#red {
    color: red;  
    font-weight: normal;
}
#blue {
    color: blue;
/*     color: #4c2dd4;
    color: rgb(11, 11, 255);
    color: hsl(235, 67%, 48%);
    font-weight: normal; */
}
#orange {
    color: orange;  
    font-weight: normal;
}
#green {
    color: green;  
    font-weight: normal;
}
#red {
    color: red;  
    font-weight: normal;
}
#yellow {
    color: yellow;  
    font-weight: normal;
}

img {
    width: 200px;
    height: 200px;
}