 h2 {
    color: rgb(31, 6, 6);
    background-color: rgb(66, 121, 153);
    }
body {
     background-color: rgb(52, 53, 34);
    }


       /*pristup preko ID-a*/
    #prvi { 
        color: blue;
    }

    /*pristup preko klase*/
    .drugi { 
        color: brown;
    }