body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}

.main-content {
    background-color: #ECEFF1;
    padding: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #4CAF50;
}

#main-title {
    font-size: 4rem;
}

p:nth-of-type(1) {
    font-size: 16px;
    color: #37474F;
}

p:nth-of-type(2) {
    font-size: 18px;
    color: #546E7A;
}

p:nth-of-type(3) {
    font-size: 20px;
    color: #78909C;
}

.highlight {
    color: #FFC107;
}

ul {
    list-style-type: square;
}

ul li:nth-child(2) {
    list-style-type: circle;
}

ul li:nth-child(3) {
    list-style-type: disc;
}

ul li:nth-child(4) {
    list-style-type: none;
}
